header {
    position: relative;
    height: 175px;
    background-color: #4ea0ff;
    background-image: url('../img/pattern.png');
    background-repeat: repeat-x;
}

.logo{
    height: 85px;
    position: absolute;
    bottom: 0px;
}