body{   
    margin: auto;
    width: 65%;
    font-weight: 500;
}

header {
    position: relative;
    height: 175px;
    background: #4ea0ff url('../img/pattern.png') repeat-x;
}

.logo{
    height: 85px;
    position: absolute;
    bottom: 0px;
}

                /* fine header e inizio stilizzazione main */
    
h1{
    font-size: 50px;
}

#autore{
    color:rgb(160, 160, 160);
}

.sottotitolo1{
    color: #4ea0ff;
}

.sottotitolo2{
    font-size: smaller;
}

.didascalia{
    font-size: small;
}
.evidenziatore{
    background-color: yellow;
}

                /* inizio stile tabella */

table {
    border-collapse: collapse;
    width: 100%;
  }

#primariga{
    background-color: #4ea0ff;
    color: white;
}

tr:nth-child(even){
    background-color: #9adce7;
}

.row1-2{
    width: 20%;
}

/* fine stile tabella e inizio stile e posizione immagini */

h4{
    color:rgb(160, 160, 160); ;
}
 .interessi{
    position: relative;
    height: 208px;
    width: 312px;

}

.interessi img{
    position: absolute;
}

.interessi p{
  position: relative;
  top: 3px;
  left: 10px;
  color: white;
  font-weight: 600; 
  font-size: 30px; 
}